.about-page {

  width: 80%;
  margin: auto;
  margin-top: 3%;
  word-wrap: break-word;
  word-break:normal;

  .about-content {
    padding-top: 0;
    padding-bottom: 0;

    h2 {
      margin-top: 3%;
    }
  }
}