.activity-page {
    flex: 1;
    margin: 3% auto;
    width: 100%;

    .activity-content, .activity-calendar {
        width: 65%;
        margin: auto; 

        @media only screen and (max-width: $cut) {
            width: 85%;
        }
    }

    
    .activity-calendar {
        @media only screen and (max-width: $cut) {
            width: 100%;
        } 
    }

    .activity-calendar iframe {
        margin-top: 3%;
        width: 100%;
        height: 70vh;
        margin-bottom: 2rem;
    }

    .activity-content h2,h3{ 
        margin-top: 3%;
    }


}

