.footer {
  background: $main;
  padding: 10px 0;
  margin-top: 100px;
  text-align: center;
  color: #FFF;

  a {
    text-decoration: none;
    color: #FFF;
    
    &:hover{
      color: $sec;
    }
    &:active {
      color: $sec;
    }
  }

  .header-icons {
    display: flex;
    justify-content: center;
    text-align: center;
  
    a {
      width: none;
      margin-right: 1%;
      margin-left: 1%;
      .icon {
        text-align: center;
        color: #FFF;
        font-size: 2rem;
        border-radius: 50%;
        transition: all .2s;
        
        &:hover {
          transform: scale(1.2);
        }
        &:active {
          color: $main;
          background: #FFF;
        }
      }
    }
  }
}

