.nav {
  top: 0;
  left: 0;
  width: 100%;
  height: clamp(40px, 5vh, 60px);
  background-color: $main;
  z-index: 10;
  text-align: center;
  display: flex;
  justify-content: space-between; // Changed to space-between for layout

  ul {
    display: grid;
    width: auto;
    height: clamp(40px, 5vh, 60px);
    list-style: none;
    margin: auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    li {
      margin-left: 1%;
      margin-right: 1%;
      font-size: 1rem;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 1px;

      a {
        color: grey;
        text-decoration: none;
        transition: all 0.3s ease;
        
        &:hover {
          color: white;
        }
      }
    }
  }

  .language-select {
    height: inherit;
    width: clamp(40px, 20%, 60px);
    font-size: 2rem;
    text-decoration: none;

    a {
      display: inline-block;
      min-width: 100%;
      height: clamp(40px, 5vh, 60px);
      text-decoration: none;
      text-align: center;
      line-height: clamp(40px, 5vh, 60px);
    }
  }
}